html,body,:root,html body[class*=elementor-kit],*,:before,:after {
  --e-global-color-primary: #00539B;
  --e-global-color-secondary: #54595F;
  --e-global-color-text: #383838;
  --e-global-color-accent: #D27E27;
  --e-global-color-2b882d4: #003666;
  --e-global-color-907e796: #693F12;
  --e-global-color-044ef24: #FFFFFF;
  --e-global-color-9c54de4: #FAFAFA;
  --e-global-color-2c38702: #F8F8F8;
  --e-global-color-de4596d: #CACACA;
  --e-global-color-3dd6579: #9D9D9D;
  --e-global-color-1d5c73f: #787878;
  --e-global-color-7577de6: #000000;
  --e-global-typography-primary-font-family: "Helvetica";
  --e-global-typography-primary-font-weight: 400;
  --e-global-typography-primary-line-height: 1.382em;
  --e-global-typography-secondary-font-family: "Georgia";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-secondary-line-height: 1.382em;
  --e-global-typography-text-font-family: "Helvetica";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-text-line-height: 1.382em;
  --e-global-typography-accent-font-family: "Georgia";
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-accent-line-height: 1.382em;
  min-height: 0;
  min-width: 0;
  scrollbar-width: thin;
  scrollbar-color: #ffffff33 #ffffff77
}

html, body, :root, html body[class*=elementor-kit] {
  max-width: 100dvw;
  max-height: 100dvh;
  overflow: auto;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 21px;
  line-height: 1.382em;
}

::-webkit-scrollbar {
  display: none;
  width: thin
}

::-webkit-scrollbar-track {
  background: #ffffff00
}

::-webkit-scrollbar-thumb {
  background: #ffffff00
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff00
}

html body[class*=elementor-kit] {
  background-color: var(--e-global-color-9c54de4);
  color: var( --e-global-color-text );
  font-family: var(--e-global-typography-primary-font-family);
  font-size: 21px;
  line-height: 1.382em
}

html body[class*=elementor-kit] p {
  margin-bottom: 0
}

html body[class*=elementor-kit] a {
  color: var( --e-global-color-primary );
  font-family: var(--e-global-typography-primary-font-family)
}

html body[class*=elementor-kit] h1 {
  color: var( --e-global-color-text );
  font-family: var(--e-global-typography-secondary-font-family);
  font-size: 2.1em;
  line-height: 1.382em
}

html body[class*=elementor-kit] h2 {
  color: var( --e-global-color-text );
  font-family: var(--e-global-typography-secondary-font-family);
  font-size: 1.8em;
  line-height: 1.382em
}

html body[class*=elementor-kit] h3 {
  color: var( --e-global-color-text );
  font-family: var(--e-global-typography-secondary-font-family);
  font-size: 1.4em;
  line-height: 1.382em
}

html body[class*=elementor-kit] h4 {
  color: var( --e-global-color-text );
  font-family: var(--e-global-typography-secondary-font-family);
  font-size: 1.3em;
  line-height: 1.382em
}

html body[class*=elementor-kit] h5 {
  color: var( --e-global-color-text );
  font-family: var(--e-global-typography-secondary-font-family);
  font-size: 1.2em;
  line-height: 1.382em
}

html body[class*=elementor-kit] h6 {
  color: var( --e-global-color-text );
  font-family: var(--e-global-typography-secondary-font-family);
  font-size: 1.1em;
  line-height: 1.382em
}

html body[class*=elementor-kit] button,
html body[class*=elementor-kit] input[type=button],
html body[class*=elementor-kit] input[type=submit],
html body[class*=elementor-kit] .elementor-button {
  font-family: var(--e-global-typography-primary-font-family);
  font-size: 1em;
  font-weight: 700;
  line-height: 1.382em;
  color: var( --e-global-color-044ef24 );
  background-color: var( --e-global-color-accent );
  border-style: none;
  border-radius: 0 0 0 0;
  padding: 1em 2em
}

html body[class*=elementor-kit] button:hover,
html body[class*=elementor-kit] button:focus,
html body[class*=elementor-kit] input[type=button]:hover,
html body[class*=elementor-kit] input[type=button]:focus,
html body[class*=elementor-kit] input[type=submit]:hover,
html body[class*=elementor-kit] input[type=submit]:focus,
html body[class*=elementor-kit] .elementor-button:hover,
html body[class*=elementor-kit] .elementor-button:focus {
  color: var( --e-global-color-044ef24 );
  background-color: var( --e-global-color-907e796 );
  border-radius: 0 0 0 0
}

html body[class*=elementor-kit] label {
  color: var( --e-global-color-text );
  font-size: 1em
}

html body[class*=elementor-kit] input:not([type=button]):not([type=submit]),html body[class*=elementor-kit] textarea,html body[class*=elementor-kit] .elementor-field-textual {
  font-size: 1em;
  color: var( --e-global-color-text );
  accent-color: var( --e-global-color-accent );
  background-color: var( --e-global-color-044ef24 );
  border-style: solid;
  border-width: 1px;
  border-color: var( --e-global-color-secondary );
  border-radius: 0;
  padding: .5em 1em
}

html body[class*=elementor-kit] .small-headings,html body[class*=elementor-kit] .small-headings * {
  font-size: 16px;
  line-height: 1
}

html body[class*=elementor-kit] .elementor-widget-text-editor h1:not(:first-child),
html body[class*=elementor-kit] .elementor-widget-text-editor h2:not(:first-child),html body[class*=elementor-kit] .elementor-widget-text-editor h3:not(:first-child),
html body[class*=elementor-kit] .elementor-widget-text-editor h4:not(:first-child),
html body[class*=elementor-kit] .elementor-widget-text-editor h5:not(:first-child),
html body[class*=elementor-kit] .elementor-widget-text-editor h6:not(:first-child),
html body[class*=elementor-kit] .elementor-widget-text-editor p:not(:first-child) {
  margin: 1em 0 0;
  padding: 0;
  line-height: 1.382em;
}

html body[class*=elementor-kit] #jch-top-bar {
  max-width: 100dvw
}
@media(max-width: 1024px) {
  html body[class*=elementor-kit] #mobile-bar {
    min-width: 100dvw;
    width: 100dvw;
    max-width: 100dvw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  html body[class*=elementor-kit] #mobile-bar > div {
    width: fit-content;
  }

  html body[class*=elementor-kit] #mobile-bar > div.elementor-widget.elementor-widget-button div.elementor-button-wrapper a.elementor-button.elementor-button-link.elementor-size-sm {
    font-size: 42px;
    line-height: 1;
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: transparent;
    padding: 0;
  }

  html body[class*=elementor-kit] #mobile-bar > div.elementor-widget.elementor-widget-button div.elementor-button-wrapper a.elementor-button.elementor-button-link.elementor-size-sm:hover,
  html body[class*=elementor-kit] #mobile-bar > div.elementor-widget.elementor-widget-button div.elementor-button-wrapper a.elementor-button.elementor-button-link.elementor-size-sm:focus,
  html body[class*=elementor-kit] #mobile-bar > div.elementor-widget.elementor-widget-button div.elementor-button-wrapper a.elementor-button.elementor-button-link.elementor-size-sm:active {
    font-size: 42px;
    line-height: 1;
    fill: var(--e-global-color-2b882d4);
    color: var(--e-global-color-2b882d4);
    background-color: transparent;
    padding: 0;
  }
}